<!DOCTYPE html>

<html lang="en">

<head>
    <title>Home - Dahal Handicraft</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta content="width=device-width, initial-scale=1.0" name="viewport" />
    <meta name="description" content="" />
    <meta name="keywords" content="">
    <meta name="author" content="" />
    <meta name="MobileOptimized" content="320">
    <!-- favicon links-->
    <link rel="icon" type="image/icon" href="assets/images/favicon.png" />
    <!-- main css -->
    <link rel="stylesheet" href="assets/css/fonts.css" />
    <link rel="stylesheet" href="assets/css/bootstrap.min.css" />
    <link rel="stylesheet" href="assets/css/header.css" />

    <!-- header -->
    <link rel="stylesheet" href="assets/header/css/bootstrap.min.css">
    <link rel="stylesheet" href="assets/header/css/owl.theme.default.min.css">
    <link rel="stylesheet" href="assets/header/css/owl.carousel.min.css">
    <link rel="stylesheet" href="assets/header/css/animate.min.css">
    <link rel="stylesheet" href="assets/header/css/meanmenu.min.css">
    <link rel="stylesheet" href="assets/header/css/style.css">
    <link rel="stylesheet" href="assets/header/css/responsive.css">
    <link rel="stylesheet" href="assets/css/meanmenu.min.css" />
    <link rel="stylesheet" href="assets/css/font-awesome.css" />
    <link rel="stylesheet" href="assets/css/magnific-popup.css" />
    <link rel="stylesheet" href="assets/css/custom_animation.css" />
    <!--revolution-->
    <link href="assets/js/plugin/revolution/css/settings.css" rel="stylesheet" type="text/css">
    <link href="assets/js/plugin/revolution/css/layers.css" rel="stylesheet" type="text/css">
    <link href="assets/js/plugin/revolution/css/navigation.css" rel="stylesheet" type="text/css">
    <link rel="stylesheet" href="assets/js/plugin/owl/owl.carousel.css" />
    <link rel="stylesheet" href="assets/css/style.css" media="screen" />
    <link rel="stylesheet" href="assets/css/colors/default.css" id="colors" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.1/css/all.min.css"
        integrity="sha512-MV7K8+y+gLIBoVD59lQIYicR65iaqukzvf/nwasF0nqhPay5w/9lJmVM2hMDcnK1OnMGCdVK+iQrJ7lzPJQd1w=="
        crossorigin="anonymous" referrerpolicy="no-referrer" />
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-GLhlTQ8iRABdZLl6O3oVMWSktQOp6b7In1Zl3/Jr59b6EGGoI1aFkw7cmDA6j6gD" crossorigin="anonymous">
</head>

<body>

    <!--main wrapper start-->
    <div id="wrapper">
        <header>
            <section class="mainTopbar">

                <div class="container-fluid ">
                    <div class="row">

                        <div class="col-lg-6  col-md-12 col-sm-12 ">
                            <div class="leftSideMainTopBar">

                                <div class="nameInfo">
                                    <span>Welcome to Dahal handiCraft</span>
                                </div>
                            </div>

                        </div>
                        <div class="col-lg-6 col-md-12 col-sm-12">
                            <div class="rightSidemainTopBar">
                                <div class="language">
                                    <div class="dropdown language_box" id="dropdownMenuButton1"
                                        data-bs-toggle="dropdown">
                                        <div class="languageInfo">
                                            <span>--Select language --</span>
                                            <i class="fa-solid fa-chevron-down"></i>
                                        </div>
                                        <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton1">

                                            <li>
                                                <a class="link dropdown-item">
                                                    <span>English</span>
                                                </a>
                                            </li>
                                            <li>
                                                <a class=" link dropdown-item">
                                                    <span>Nepali</span>
                                                </a>
                                            </li>
                                            <li>
                                                <a class=" link dropdown-item">
                                                    <span>Hindi</span>
                                                </a>
                                            </li>
                                            <li>
                                                <a class=" link dropdown-item">
                                                    <span>Arabic</span>
                                                </a>
                                            </li>
                                        </ul>
                                    </div>
                                </div>
                            </div>

                        </div>
                    </div>
                </div>

            </section>



            <!-- top bar -->
            <section class="container-fluid ">
                <div class="topBar">
                    <div class="topBarWrapper">
                        <div class="row">
                            <div class="col-md-3">
                                <div class="leftSideTopbar">
                                    <a href="index.html">
                                        <img src="assets/images/logo.png" alt="_logo" />
                                    </a>
                                    <span>Dahal HandiCraft<span>

                                </div>

                            </div>
                            <div class="col-5 middleSideTop">
                                <div class="searhInput">
                                    <input type="text" placeholder="Keyword here..." />
                                </div>

                                <div class="searchIcon">
                                    <span>
                                        <i class="fa-solid fa-magnifying-glass"></i>
                                    </span>
                                </div>
                            </div>
                            <div class="col-3 rightSideTop">
                                <div class="cartList">
                                    <a class="link" href="cart.html">
                                        <i class="fa-solid fa-cart-arrow-down"></i>
                                        <p>My Cart</p>
                                        <span class="badge">2</span>
                                    </a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </section>


            <!-- navbar start -->
            <div class="navbar-area">
                <div class="mobile-nav">
                    <div class="container-fluid">
                        <div class="mobile-menu">


                            <div class="logo">

                                <div class=" small_device_Logo">
                                    <a href="index.html">
                                        <img src="assets/images/logo.png" alt="_logo" />
                                    </a>

                                    <div class="rightSideTop_mobile">
                                        <div class="cartList_mobile">
                                            <a class="link" href="cart.html">
                                                <i class="fa-solid fa-cart-arrow-down"></i>
                                                <span class="badge">2</span>
                                            </a>
                                        </div>
                                    </div>


                                </div>

                            </div>

                        </div>
                    </div>
                </div>
                <div class="desktop-nav">
                    <div class="container-fluid">
                        <nav class="navbar navbar-expand-md navbar-light">
                            <div class="collapse navbar-collapse mean-menu">
                                <ul class="navbar-nav m-start">
                                    <li class="nav-item">
                                        <a href="index.html" class="nav-link active">
                                            Home
                                        </a>

                                    </li>
                                    <li class="nav-item">
                                        <a href="common-page.html" class="nav-link">
                                            About Us

                                        </a>

                                    </li>
                                    <li class="nav-item">
                                        <a href="product-list.html" class="nav-link">New Arrival</a>
                                    </li>
                                    <li class="nav-item">
                                        <a href="#" class="nav-link">
                                            Product Catalog
                                            <i class="fa-solid fa-chevron-down"></i>
                                        </a>
                                        <ul class="dropdown-menu">
                                            <li class="nav-item">
                                                <a href="product-list.html" class="nav-link">Hemp Money Belt</a>
                                            </li>
                                            <li class="nav-item">
                                                <a href="product-list.html" class="nav-link">
                                                    Handmade Hemp Camera Bag

                                                </a>

                                            </li>

                                            <li class="nav-item">
                                                <a href="product-list.html" class="nav-link">
                                                    Hemp Ladies Purses
                                                </a>

                                            </li>
                                            <li class="nav-item">
                                                <a href="product-list.html" class="nav-link">Hippie Hemp Backpack</a>
                                            </li>
                                            <li class="nav-item">
                                                <a href="product-list.html" class="nav-link">Hemp Clothing</a>
                                            </li>
                                            <li class="nav-item">
                                                <a href="product-list.html" class="nav-link">Hemp Hats</a>
                                            </li>


                                        </ul>
                                    </li>
                                    <li class="nav-item">
                                        <a href="custom.html" class="nav-link">Custom</a>
                                    </li>
                                    <li class="nav-item">
                                        <a href="blog-list.html" class="nav-link">Blog</a>
                                    </li>
                                    <li class="nav-item">
                                        <a href="contact.html" class="nav-link">Contact </a>
                                    </li>
                                </ul>

                            </div>
                            <a class="navbar-brand" href="#">
                                <p>
                                    100% original products
                                </p>
                            </a>
                        </nav>

                    </div>
                </div>

            </div>
        </header>

        <!--banner start-->
        <div class="hm_bread_wrapper">
            <div class="container">
                <div class="row">
                    <div class="col-lg-12 col-md-12">
                        <h1>Hemp Hiking Backpack</h1>
                        <ol class="breadcrumb">
                            <li class="breadcrumb-item"><a href="index.html">Home</a></li>
                            <li class="breadcrumb-item"><a href="product-list.html">New Ariival</a></li>
                            <li class="breadcrumb-item active">Hemp Hiking Backpack</li>
                        </ol>
                    </div>
                </div>
            </div>
        </div>
        <!-- ..................ABC.................. -->
        <div class="container">
            <div class="form-shopping">
                <div class="apply-wrapper">
                    <div class=" row">
                        <div class="col-md-6 col-lg-6 col-12">
                            <div class="form-1">
                                <input type="name" class="form-control" id="inputName4" placeholder="Full Name *">
                            </div>
                        </div>
                        <div class="col-md-6 col-lg-6 col-12">
                            <div class="form-1">
                                <input type="email" class="form-control" id="inputemail4" placeholder="Email *">
                            </div>
                        </div>
                        <div class="col-md-6 col-lg-6 col-12">
                            <div class="form-1">
                                <input type="PhoneNumber" class="form-control" id="inputPhoneNumber4"
                                    placeholder="Phone Number *">
                            </div>
                        </div>
                        <div class="col-md-6 col-lg-6 col-12">
                            <div class="form-1">
                                <input type="Billing addres" class="form-control" id="inputemail4"
                                    placeholder="Billing address">
                            </div>
                        </div>
                        <div class="col-md-6 col-lg-6 col-12">
                            <div class="form-1">
                                <input type="Shipping Address" class="form-control" id="Shipping Address"
                                    placeholder="Shipping Address">
                            </div>
                        </div>


                        <div class="col-md-6 col-lg-6 col-12">
                            <div class="form-1">
                                <input type="Current Address " class="form-control" id="inputName4"
                                    placeholder="Current Address *">
                            </div>
                        </div>
                    </div>
                    <!-- <div class="button-form">
                        <button type="submit" class="btn ">Continue</button>
                    </div> -->
                    <div class="hm_btn_wrapper">
                        <a href="" class="hm_btn">Continue</a>
                    </div>
                </div>
            </div>
        </div>






        <!--footer start-->
        <div class="hm_footer_wrapper">
            <div class="container">
                <div class="row">
                    <div class="col-lg-3 col-md-12 col-sm-12">
                        <div class="hm_footer_box">
                            <img src="assets/images/logo.png" alt="handmade-craft-logo" class="img-responsive">
                            <!-- <p class="footer_about_para">Nepali hemp handicrafts products at an affordable price and ship worldwide.</p> -->
                        </div>
                    </div>
                    <div class="col-lg-3 col-md-12 col-sm-12">
                        <div class="hm_footer_box">
                            <h3 class="footer_heading">Quick Link</h3>
                            <ul>
                                <li><a href="common-page.html">About Us</a></li>
                                <li><a href="product-list.html">New Arrival</a></li>
                                <li><a href="blog-list.html">Our Blog</a></li>
                                <li><a href="contact.html">Contact</a></li>
                            </ul>
                        </div>
                    </div>
                    <div class="col-lg-3 col-md-12 col-sm-12">
                        <div class="hm_footer_box">
                            <h3 class="footer_heading">Product Catalog</h3>
                            <ul>
                                <li><a href="product-list.html">Hemp Money Belt</a></li>
                                <li><a href="product-list.html">Hemp Clothing</a></li>
                                <li><a href="product-list.html">Hemp Hats</a></li>
                                <li><a href="product-list.html">Hemp Ladies Purses</a></li>
                            </ul>
                        </div>
                    </div>
                    <div class="col-lg-3 col-md-12 col-sm-12">
                        <div class="hm_footer_box hm_footer_contact">
                            <h3 class="footer_heading">Our Information</h3>
                            <ul>
                                <li>
                                    <div class="hm_footer_information">
                                        <span class="footer_icon"><i class="fa fa-map-marker" aria-hidden="true"></i>
                                        </span>
                                        <p class="foo_con_para">Thamel, Kathmandu, Nepal </p>
                                    </div>

                                </li>
                                <li>
                                    <div class="hm_footer_information">
                                        <a href="tel:014514706"><span class="footer_icon"><i class="fa fa-phone"
                                                    aria-hidden="true"></i> </span>
                                            <p class="foo_con_para">+977 01-4514706</p>
                                        </a>
                                    </div>

                                </li>
                                <li>
                                    <div class="hm_footer_information">
                                        <a href="mailto:info@nepalihemp.com"><span class="footer_icon"><i
                                                    class="fa fa-envelope" aria-hidden="true"></i> </span>
                                            <p class="foo_con_para">info@nepalihemp.com</p>
                                        </a>
                                    </div>

                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!--bottom footer start-->
        <div class="hm_bottom_footer">
            <div class="container">
                <div class="row">
                    <div class="col-lg-8 col-md-12">
                        <p class="copyright-text">&copy;
                            <script>
                                document.write(new Date().getFullYear())
                            </script>
                            Dahal HandiCraft, All Rights Reserved. Developed by <a href="http://radiantnepal.com/"
                                target="_blank">Radiant Infotech Nepal</a>
                        </p>
                    </div>
                    <div class="col-lg-4 col-md-12">
                        <ul class="footer_so_icons">
                            <li><a href="#"><i class="fa-brands fa-facebook"
                                        style="color: darkblue; font-size: 20px;"></i></a></li>
                            <li><a href="#"><i class="fa-brands fa-twitter"
                                        style="color: lightblue; font-size: 20px;"></i></a></li>
                            <li><a href="#"><i class="fa-brands fa-youtube"
                                        style="color: red; font-size: 20px;"></i></a></li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
        <!--main wrapper-->
    </div>

    <!--script-->
    <script type="text/javascript" src="assets/js/jquery.min.js"></script>
    <script type="text/javascript" src="assets/js/bootstrap.bundle.min.js"></script>
    <script type="text/javascript" src="assets/js/wow.min.js"></script>
    <script type="text/javascript" src="assets/js/plugin/owl/owl.carousel.min.js"></script>
    <script type="text/javascript" src="assets/js/jquery.magnific-popup.js"></script>
    <!--Revolution slider js-->
    <script src="assets/js/plugin/revolution/js/jquery.themepunch.tools.min.js" type="text/javascript"></script>
    <script src="assets/js/plugin/revolution/js/jquery.themepunch.revolution.min.js" type="text/javascript"></script>
    <script src="assets/js/plugin/revolution/js/revolution.extension.navigation.min.js" type="text/javascript"></script>
    <script src="assets/js/plugin/revolution/js/revolution.extension.slideanims.min.js" type="text/javascript"></script>
    <script src="assets/js/plugin/revolution/js/revolution.extension.layeranimation.min.js"
        type="text/javascript"></script>
    <script src="assets/js/plugin/revolution/js/revolution.extension.parallax.min.js" type="text/javascript"></script>
    <script src="assets/js/plugin/revolution/js/revolution.extension.kenburn.min.js" type="text/javascript"></script>
    <!--Revolution slider js-->
    <script type="text/javascript" src="assets/js/switcher.js"></script>
    <script type="text/javascript" src="assets/js/custom.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-w76AqPfDkMBDXo30jS1Sgez6pr3x5MlQ1ZAGC+nuZB+EYdgRZgiwxhTBTkF7CXvN"
        crossorigin="anonymous"></script>

    <!-- header -->
    <script src="assets/header/js/jquery.min.js"></script>
    <script src="assets/header/js/bootstrap.bundle.min.js"></script>
    <script src="assets/header/js/meanmenu.min.js"></script>
    <script src="assets/header/js/owl.carousel.min.js"></script>
    <script src="assets/header/js/nice-select.min.js"></script>
    <script src="assets/header/js/smoothscroll.min.js"></script>
    <script src="assets/header/js/custom.js"></script>

</body>

</html>