{% extends 'layout/master.html' %}
{% load staticfiles %}
{% block contents %}
{% load mathfilters %} 


                <!--banner start-->
                <div class="hm_bread_wrapper">
                    <div class="container">
                        <div class="row">
                            <div class="col-lg-12 col-md-12">
                                <h1>Hemp Hiking Backpack</h1>
                                <ol class="breadcrumb">
                                    <li class="breadcrumb-item"><a href="/">Home</a></li>
                                    <li class="breadcrumb-item">New Arival</a></li>
                                    <li class="breadcrumb-item active">Hemp Hiking Backpack</li>
                                </ol>
                            </div>
                        </div>
                    </div>
                </div>
    
                <div class="hm_news_wrapper shop_single">
                    <div class="container">
                        <div class="row">
    
    
                            <div class="col-lg-12 col-md-12">
                                <div class="hm_shop_single">
                                    <div class="container singlePage">
                                        <form id="updateForm" method="post" action="/cart/{{product.id}}/{{c_id}}">
                                        <div class="row">
                                            {% csrf_token %}
                                            {% comment %} <div class="col-md-6 leftSideImg">
                                                <img src="{{product.image1.url}}" />
                                            </div> {% endcomment %}
                                            <div class="col-md-6 ">
                                                <div class="small-container single-product1">
                                                    <div class="row aaaa">
                                                        <div class="single-product-img">
                                                            <div class="zoom-area">
                                                                <div class="large"></div>
                                                                <img class="small" src="{{product.image1.url}}" alt=""
                                                                width="100%" id="ProductImg">
                                                                
                                                            </div>
                                                            <div class="small-ing-row">
                                                           
                                                                <div class="small-img-col">
                                                                    <img src="{{product.image1.url}}" alt="" min-width="100% " min-height="78px"
                                                                        class="small-img">
                                                                </div>
                                                                <div class="small-img-col">
                                                                    <img src="{{product.image2.url}}" alt="" min-width="100%"  min-height="78px"
                                                                        class="small-img">
                                                                </div>
                                                                <div class="small-img-col">
                                                                    <img src="{{product.image3.url}}" alt="" min-width="100%"  min-height="78px"
                                                                        class="small-img">
                                                                </div>
                                                                <div class="small-img-col">
                                                                    <img src="{{product.image4.url}}" alt="" min-width="100%"  min-height="78px"
                                                                        class="small-img">
                                                                </div>
                                                            </div>
                                                     
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>

                                            <div class="col-md-6 rightSide">
                                                <div class="productTitle">
                                                    {{product.name}}
                                                </div>
                                                <div class="productdesc">
                                                    
                                                        <span style="color: #00a550;"> Minimum Order :  {{product.price}}</span>
                                                    
                                                    <div class="productRating">
                                                        <i class="fa-solid fa-star"></i>
                                                        <i class="fa-solid fa-star"></i>
                                                        <i class="fa-solid fa-star"></i>
                                                        <i class="fa-solid fa-star"></i>
                                                        <i class="fa-solid fa-star"></i>
                                                        <span>(12)</span>
                                                    </div>
                                                    <div class="productSize mt-2">
                                                        <span>Color :</span>
                                                        <select class="selectBox mt-4" name="color">
                                                            <option value="">-- select --</option>
                                                            {% for c in colors %}
                                                            <option value="{{c}}">{{c}}</option>                                                            
                                                            {% endfor %}                                                            
                                                        </select>
                                                    </div>
                                                    <br>
                                                    <div class="productSize mt-2">
                                                        <span>Size :</span>
                                                        <select class="selectBox mt-4" name="size">
                                                            <option value="">-- select --</option>
                                                            {% for c in sizes %}
                                                            <option value="{{c}}">{{c}}</option>                                                            
                                                            {% endfor %} 
                                                        </select>
                                                    </div>
                                                    
                                                    <div class="increaseAnddecrease">
                                                        <button type="button" id="minus">-</button>
                                                        <input type="text" class="number" id="num" value="1" style="width:60px; text-align:center;">
                                                        <button type="button" id="plus">+</button>
                                                    </div>
                                                    <input type='hidden'  name="number" id="number" value="1">

                                                    <div class="brandName">
                                                        Brand: <span>Hemp</span>
                                                    </div>
    
                                                    <div class="addtoCard" id="cart">                                                                                                     
                                                            <button type='submit'>ADD TO CART</button>                                                     
                                                    </div>
                                                </div>
                                            </div>
    
                                        </div>
                                    </form>
                                    </div>
                                    <!--product info tab-->
                                    <div class="col-lg-12 col-md-12 padding_left">
    
                                        <div class="hm_pro_tab">
                                            <ul class="nav nav-tabs" id="myTab" role="tablist">
                                                <li class="nav-item" role="presentation">
                                                    <button class="nav-link active" id="home-tab" data-bs-toggle="tab"
                                                        data-bs-target="#home" type="button" role="tab" aria-controls="home"
                                                        aria-selected="true">Overview</button>
                                                </li>
                                                <li class="nav-item" role="presentation">
                                                    <button class="nav-link" id="profile-tab" data-bs-toggle="tab"
                                                        data-bs-target="#profile" type="button" role="tab"
                                                        aria-controls="profile" aria-selected="false">Other</button>
                                                </li>
    
                                            </ul>
                                            <div class="tab-content" id="myTabContent">
                                                <div class="tab-pane fade show active" id="home" role="tabpanel"
                                                    aria-labelledby="home-tab">
                                                    {% autoescape off %}{{product.discription}}
                                                </div>
                                                <div class="tab-pane fade" id="profile" role="tabpanel"
                                                    aria-labelledby="profile-tab">
                                                    {{product.long_contents}}  {% endautoescape %}                                                 
                                                </div>
    
                                            </div>
    
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <!--sidebar css start-->
                            <!--related product slider-->
                            <div class="col-lg-12 col-md-12 padding_left">
                                <div class="hm_shop_single">
                                    <h1 class="hm_heading"><span class="hm_color">Related</span> products</h1>
                                    <div class="hm_related_product">
                                        <div class="owl-carousel owl-theme related_pro_slider">
                                            {% for rel_product in related_product %}
                                                <div class="item">
                                                    <div class="new_pro_box">
                                                        <div class="new_pro_img">
                                                            <a href="/product-details/{{rel_product.id}}">
                                                                <img src="{{rel_product.image1.url}}"
                                                                    alt="handmade-craft-arrivals1" class="img-fluid" style="max-height:290px; min-height:290px; object-fit:cover ">
                                                            </a>
                                                        </div>
                                                        <div class="new_pro_data" style="min-height:225px;">
                                                            <h3><a href="/product-details/{{rel_product.id}}">{{rel_product.name}}</a></h3>
                                                            <p>{{rel_product.title|str_rm}}</p>
                                                            <div class="new_pro_data_dollar">
                                                                <span class="cart_icon"><a href="/product-details/{{rel_product.id}}"><i class="fa fa-eye"
                                                                            aria-hidden="true"></i></a></span>
                                                            </div>
        
                                                        </div>
                                                    </div>
                                                </div>
                                            {% endfor %}
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
<script>
$(document).ready(function(){
    $('#plus').click(function(){        
        var i = $('#num').val()
        var i = parseInt(i) + 1 ;
        $('#num').val(i)
        $('#number').val(i)

    });
    $('#num').keyup(function(){
        var i = $('#num').val()
        $('#number').val(i)
    });

    $('#minus').click(function(){  
        var i = $('#num').val()
        if (i != 1){
        var i = parseInt(i) - 1 ;
        $('#num').val(i)
        $('#number').val(i)
        }

    });
});

{% comment %} var submitForm = function(method){
var formAction = '/' + method + '/' + {{product.id}} + '/' +{{c_id}} ;
$('#updateForm').attr('action', formAction);
$('#updateForm').submit();
};

$(document)
.on('click', '#wishlist', function(){
    submitForm('wish-list');
})
.on('click', '#cart', function(){
    submitForm('cart');
}); {% endcomment %}


</script>


<script>
    var ProductImg = document.getElementById("ProductImg");
    var SmallImg = document.getElementsByClassName("small-img")

    SmallImg[0].onclick = function () {
        ProductImg.src = SmallImg[0].src;
        $(".large").css(
        "background",
        "url(ProductImg.src) no-repeat"
        );
    }
    SmallImg[1].onclick = function () {
        ProductImg.src = SmallImg[1].src;
        $(".large").css(
        "background",
        "url('" + $(".small").attr("src") + "') no-repeat"
        );
    }
    SmallImg[2].onclick = function () {
        ProductImg.src = SmallImg[2].src;
        $(".large").css(
        "background",
        "url('" + $(".small").attr("src") + "') no-repeat"
        );
    }
    SmallImg[3].onclick = function () {
        ProductImg.src = SmallImg[3].src;
        $(".large").css(
        "background",
        "url('" + $(".small").attr("src") + "') no-repeat"
        );
    }

</script>
<script>
/* Created by Rohan Hapani */
$(document).ready(function () {
var sub_width = 0;
var sub_height = 0;
$(".large").css(
"background",
"url('" + $(".small").attr("src") + "') no-repeat"
);

$(".zoom-area").mousemove(function (e) {
if (!sub_width && !sub_height) {
  var image_object = new Image();
  image_object.src = $(".small").attr("src");
  sub_width = image_object.width;
  sub_height = image_object.height;
} else {
  var magnify_position = $(this).offset();

  var mx = e.pageX - magnify_position.left;
  var my = e.pageY - magnify_position.top;

  if (mx < $(this).width() && my < $(this).height() && mx > 0 && my > 0) {
    $(".large").fadeIn(200);
  } else {
    $(".large").fadeOut(200);
  }
  if ($(".large").is(":visible")) {
    var rx =
      Math.round(
        (mx / $(".small").width()) * sub_width - $(".large").width() / 2
      ) * -1;
    var ry =
      Math.round(
        (my / $(".small").height()) * sub_height - $(".large").height() / 2
      ) * -1;

    var bgp = rx + "px " + ry + "px";

    var px = mx - $(".large").width() / 2;
    var py = my - $(".large").height() / 2;

    $(".large").css({ left: px, top: py, backgroundPosition: bgp });
  }
}
});
});



</script>


{% endblock %}
